name: eval_sweep_tft_mp20_atom-types-and-steps_2026-01-03_06-30-00
project: zatom
entity: zatom
program: zatom/eval_fm.py

method: grid

metric: # Does not matter, as we are using sweep to run the experiment.
  goal: maximize
  name: test_mp20/valid_rate

parameters:
  ckpt_path:
    value: "${paths.log_dir}/train_fm/runs/train_model-zatom_arch-tft_80M_joint_2025-12-15_20-00-00/checkpoints/model-epoch@1399-step@43400-val_qm9_valid_rate@0.9471-val_mp20_valid_rate@0.9003.ckpt"

  data:
    values: [joint]

  data.datamodule.datasets.qm9.proportion:
    value: 0.0

  date:
    value: "2026-01-03_06-30-00"

  experiment:
    value: eval

  model/architecture:
    values: [tft_80M]

  model.sampling.batch_size:
    value: 1000

  model.sampling.num_samples:
    value: 10000

  model.sampling.visualize:
    value: false

  model.architecture.atom_types_interpolant.temperature:
    values: [0.8, 0.9, 1.0, 1.1, 1.2]

  model.architecture.atom_types_interpolant.top_k:
    values: [null, 5, 10, 20]

  model.architecture.atom_types_interpolant.top_p:
    values: [null, 0.8, 0.9]

  model.sampling.steps:
    values: [50, 100, 200]

  name:
    value: "eval_${hydra:runtime.choices.model/architecture}_at-temp-${model.architecture.atom_types_interpolant.temperature}_at-top-k-${model.architecture.atom_types_interpolant.top_k}_at-top-p-${model.architecture.atom_types_interpolant.top_p}_steps-${model.sampling.steps}_mp20"

  seed:
    value: 43

  tags:
    value: ["mp20", "fm", "eval", "sweep"]

command:
  - ${env}
  - HYDRA_FULL_ERROR=1
  - WANDB_START_METHOD=thread
  - python
  - ${program}
  - ${args_no_hyphens}
